/* Default styles */
.products {
    width: 100%;
    display: flex;
    gap: 10px;
}

.left-section {
    min-width: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    position: sticky;
    height: 100%;
    top: 50px;
}

.right-section {
    width: 85%;
    margin: 10px;
}
.list {
    position: relative;
  }
  .dropdown {
    list-style: none;
    text-align: center;
    width: 100%;
    display: none;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.744);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0; /* Add padding to top and bottom */
    /* border: 1px solid rgb(45, 43, 43); */
  }
  
  .dropdown li {
    border-bottom: none; /* Remove border from bottom */
    padding-top: 20px;
    padding-left: 10px;
  }
  
  .list:hover .dropdown {
    display: block;
  }
  
  .cattext{
    font-size: x-large;
  }
  .price-input{
    -webkit-appearance: none;
    width: 70%;
    height: 5px;
    background: #0da3e9;
    border-radius: 5px;
    outline: none;
    border: none;
    /* z-index: 2222; */
    margin: 9px;
  }
  .price-input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #664AFF;
    border: 1px solid #664AFF;
    cursor: pointer;
  }
/* Media query for smaller screens (e.g., mobile) */
@media screen and (max-width: 630px) {
    .products {
        flex-direction: column; /* Stack sections vertically */
        gap: 5px;
    }

    .left-section {
        min-width: auto; /* Remove min-width */
        top: 0; /* Align to the top */
        width: 100%; /* Occupy full width */
        flex-direction: column;
        text-align: center;
        padding-right: 25px;
        margin: auto ;
    }

    .right-section {
        width: 100%; /* Occupy full width */
    }
}

.filter-title{
    font-size: larger;
}
.label-text{
    font-size: large;
}

@media screen and (max-width: 590px) {
    .filter-title{
         font-size: small;
    }
    .left-section{
        justify-content: space-between;
        position: relative;
    }
    .select-box{
        height: 10px;
        width: 10px;
    }
    .label-text{
        font-size: small;
    }
}
